:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --white: #fff;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--slate);
  background-color: var(--white);
}
a {
  text-decoration: none;
}
ul{
  list-style-type: none;
}

.header{
  border-bottom: 1px solid var(--cornflower);
  padding: 24px 0;
}
.header-nav{
  align-items: center;
  display: flex;
}
.header .container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.header-nav-list{
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  padding: 3px;
  margin-right: 76px;
}

.logo-blue {
  color: var(--navy-blue);
}

.logo-white {
  color: var(--cloud);
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.selected {
  position: relative;
  color: var(--ocean);
}

.selected:after {
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  content: "";
  position: absolute;
  background: var(--ocean);
  left: 0;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--ocean);
}

.address{
  font-style: normal;
}
.address-list{
  display: flex;
  gap: 40px;
}

.address-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--slate);
}

.address-item:hover,
.address-item:focus {
  color: var(--ocean);
}
.hero {
  background-color:var(--navy-blue);
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/shared/people-office.jpg);
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
}
.hero .container{
  display: flex;
  align-items: center;
  gap: 48px;
  flex-direction: column;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.order-button {
  cursor: pointer;
  height: 56px;
  min-width: 169px;
  font-family: var(--font-family);
  background-color: var(--iris);
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
  color: var(--white);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.minestone-list
{
  display: flex;
  gap: 24px;
}
.minestone-item{
  width: calc((100% - 3 * 24px) / 4);
}
.minestone-item-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.minestone-item-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.minestone-icons{
  width: 64px;
  height: 64px;
}
.minestone-icons-container{
  align-items: center;
  justify-content: center;
  background-color:var(--cloud);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  height: 112px;
  margin-bottom: 8px;
}


.order-button:hover,
.order-button:focus {
  background-color: var(--ocean);
}

.team {
  background-color: var(--cloud);
}

.team-item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}
.team-item-description
{
  padding: 32px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-list{
  display: flex;
  gap: 24px;
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.portfolio-list{
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  display: flex;
}

.portfolio-item {
  background-color: var(--white);
}
.portfolio-item-header {
  position: relative;
  overflow: hidden;
}
.portfolio-item-overlay{
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--iris);
  color: var(--cloud);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.portfolio-item:hover .portfolio-item-overlay,
.portfolio-item:focus .portfolio-item-overlay {
  transform: translateY(0%);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-footer{
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}
.footer .logo {
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}
.footer .container{
  display: flex;
  gap: 120px;
}
img{
  display: block;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.section{
  padding-top: 120px;
  padding-bottom: 120px;
}

.social-icons{
  width: 16px;
  height: 16px;
  fill: var(--cloud);
}

.team-social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.icons-container {
  margin-top: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--iris);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social{
  display: block;
  font-weight: 500;
  color: var(--white);
}
.footer-social-icon{
  width: 24px;
  height: 24px;
  fill: var(--cloud);
}
.footer-social-icons{
  display: flex;
  align-items: center;
  gap: 16px;
}

.icons-container:hover,
.icons-container:focus{
  background-color: var(--ocean);
}
.footer .icons-container:hover,
.footer .icons-container:focus{
  background-color: var(--green);
}